<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hotel Management - Guest</title>
<link rel="icon" type="image/png" href="/favicon.ico" th:href="@{/favicon.ico}"/>
</head>
<body>
	<footer class="tm-black-bg" th:fragment="footer">
		<!-- <div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<p style="font-weight: bold; color: white; padding-bottom: 10px">THE
						OPAL</p>
					<p style="color: white; padding-bottom: 10px">Near Weikfield IT
						Park, Nashik Road,</p>
					<p style="color: white; padding-bottom: 10px">Pune, India,
						411013.</p>
					<p style="color: white; padding-bottom: 10px">Tel:
						+912066451234 | Fax: +912066451235</p>
					<p style="color: white; padding-bottom: 10px">Email:
						enquiry@theopal.com</p>
				</div>
				<table width="100%" class="table-responsive">
					<tr>
						<td rowspan="4" align="left" valign="top"
							style="padding-top: 10px;" width="30%">
							<p style="font-weight: bold; color: white; padding-bottom: 10px">THE
								OPAL</p>
							<p style="color: white; padding-bottom: 10px">Near Weikfield
								IT Park, Nashik Road,</p>
							<p style="color: white; padding-bottom: 10px">Pune, India,
								411013.</p>
							<p style="color: white; padding-bottom: 10px">Tel:
								+912066451234 | Fax: +912066451235</p>
							<p style="color: white; padding-bottom: 10px">Email:
								enquiry@theopal.com</p>
							<p>
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i
									class="fa fa-pinterest"></i></a> <a href="#" class="tm-social-icon"><i
									class="fa fa-google-plus"></i></a>
							</p>
						</td>
						<td width="10%">&nbsp;</td>
						<td align="center"
							style="font-weight: bold; color: white; padding-bottom: 10px; padding-top: 10px"
							width="10%">Photo Gallery</td>
						<td width="10%">&nbsp;</td>
						<td width="10%">&nbsp;</td>
						<td width="25%">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-01.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-02.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-03.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-04.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td width="15%">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-05.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-06.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-07.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td align="center" style="padding-bottom: 5px; padding-top: 5px;"><img
							src="/img/index-08.jpg" width="100px" height="100px" alt="image"
							class="img-responsive" /></td>
						<td width="15%">&nbsp;</td>
					</tr>
				</table>
				<p class="tm-copyright-text">
					Copyright &copy; 2018 XYZ Pvt Ltd | Designed by <a rel="nofollow"
						href="http://www.mechitex.com" target="_parent">MechITeX
						Technology Solutions LLP</a>
				</p>
			</div>
		</div> -->
		
		<section class="container" id="more">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					&nbsp;
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 text-center">
					<p style="font-weight: bold; color: white; padding-bottom: 10px">THE
						OPAL</p>
					<p style="color: white; padding-bottom: 10px">Near Weikfield IT
						Park, Nashik Road,</p>
					<p style="color: white; padding-bottom: 10px">Pune, India,
						411013.</p>
					<p style="color: white; padding-bottom: 10px">Tel:
						+912066451234 | Fax: +912066451235</p>
					<p style="color: white; padding-bottom: 10px">Email:
						enquiry@theopal.com</p>
						<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-google-plus"></i></a> <a href="#"><i
							class="fa fa-pinterest"></i></a>
							<p class="tm-copyright-text">Copyright &copy; 2018 The Opal Hotel</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					&nbsp;
				</div>
			</div>
		</section>
	</footer>
</body>
</html>