<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotel Management - Error</title>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700'
	rel='stylesheet' type='text/css'>
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/css/flexslider.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<link href="/css/templatemo-style.css" rel="stylesheet">
</head>
<body>
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="col-md-12">
				<img src="/img/error 404.jpg" width="100%" height="auto" class="img-responsive">
			</div>
		</div>
	</section>
</body>
</html>