<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Opal - About</title>

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700'
	rel='stylesheet' type='text/css'>
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/css/flexslider.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<link href="/css/templatemo-style.css" rel="stylesheet">

</head>
<body class="tm-gray-bg">
	<!-- Header -->
	<div th:replace="user/fragments/header :: header"></div>
	<div th:replace="guest/fragments/header :: header"></div>

	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
			<ul class="slides">
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">
							<span class="tm-yellow-text">Superb</span> Amenities
						</h1>
						<p class="tm-banner-subtitle">For Your Vacations</p>

					</div> <img class='img-responsive' src="/img/banner-3.jpg" />
				</li>
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">
							Awesome <span class="tm-yellow-text">View</span>
						</h1>
						<p class="tm-banner-subtitle">Wonderful Stay</p>

					</div> <img class='img-responsive' src="/img/banner-2.jpg" />
				</li>
				<li>
					<div class="tm-banner-inner">
						<h1 class="tm-banner-title">
							Delectable <span class="tm-yellow-text">Dining</span>
						</h1>
						<p class="tm-banner-subtitle">Multi Cuisine Buffet</p>

					</div> <img class='img-responsive' src="/img/banner-1.jpg" />
				</li>
			</ul>
		</div>
	</section>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
				<ul class="slides">
					<li><img src="/img/about-1.jpg" alt="image" />
						<div class="flex-caption">
							<h2 class="slider-title">Welcome To Your New Home!</h2>
							<h3 class="slider-subtitle">Luxury Hotel located near Rampur
								Airport</h3>
							<p class="slider-description">The Opal Hotel is is conveniently located within Rampur CIty.
							Relax in our heated indoor pool and refreshing hot tub. or keep up with your workout routine
							using our fitness rooms. We offer all the convenient amenities you'd expect, delivered with the
							healthy side of Opal hospitality. <br><br>
							Join us for Opal's free hot breakfast. Use free wifi access in your room to stay connected.
							We promise you'll be satisfied, or we'll make it right. That's our commitment to you.							
							
							</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i
									class="fa fa-pinterest"></i></a> <a href="#" class="tm-social-icon"><i
									class="fa fa-google-plus"></i></a>
							</div>
						</div></li>
					<li><img src="/img/about-1.jpg" alt="image" />
						<div class="flex-caption">
							<h2 class="slider-title">Thank you for choosing us!</h2>
							<h3 class="slider-subtitle">Comfortable & cozy rooms</h3>
							<p class="slider-description">209 elegantly designed rooms
								with 12 suites. Try our exclusive Garden Suites for an intimate
								experience.</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i
									class="fa fa-pinterest"></i></a> <a href="#" class="tm-social-icon"><i
									class="fa fa-google-plus"></i></a>
							</div>
						</div></li>
					<li><img src="/img/about-1.jpg" alt="image" />
						<div class="flex-caption">
							<h2 class="slider-title">More Programs to come</h2>
							<h3 class="slider-subtitle">Plenty of places to relax</h3>
							<p class="slider-description">Picturesque vitality pool with
								sun decks, luxurious Spa with western and Ayurvedic treatments,
								Salon and state-of-the-art gymnasium. We also conduct Yoga
								sessions for the fitness consious guests.</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i
									class="fa fa-pinterest"></i></a> <a href="#" class="tm-social-icon"><i
									class="fa fa-google-plus"></i></a>
							</div>
						</div></li>
					<li><img src="/img/about-1.jpg" alt="image" />
						<div class="flex-caption">
							<h2 class="slider-title">Tours and Travel</h2>
							<h3 class="slider-subtitle">Sightseeing & Things to do</h3>
							<p class="slider-description">Pune; fondly referred to as
								'Oxford of the East' or the 'Cultural Capital of Maharashtra'.
								Renowned for its historical places, lush green gardens,
								top-of-the-line golf courses and more. The city offers a
								versatile and memorable destination with a little something for
								professionals and vacationers alike.</p>
							<p class="slider-description">OPAL Pune, undoubtedly is the
								best place to stay in Pune owning to its location. The hotel is
								located adjacent to the famous Aga Khan Palace, one of Pune’s
								best-known landmarks, and is also within a quick car ride of
								museums, shopping malls, movie theatres and other places of
								interest.</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i
									class="fa fa-pinterest"></i></a> <a href="#" class="tm-social-icon"><i
									class="fa fa-google-plus"></i></a>
							</div>
						</div></li>
				</ul>
			</div>
		</div>

		
	</section>

	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3">
						<hr>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<h2 class="tm-section-title">What we do</h2>
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3">
						<hr>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="tm-what-we-do-right">
						<div class="tm-about-box-2 margin-bottom-30">
							<img src="/img/about-2.jpg" alt="image"
								class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">Opal's Personalized Event Manager</h3>
								<p class="tm-about-box-2-description gray-text">A dedicated
									OPAL wedding specialist helps you through every step of the
									planning process. With OPAL Event Concierge App, you are able
									to manage entire events all from their mobile device. Currently
									deploying in full service hotels. Personal Preference Menus
									offer made-to-order meals for weddings of any size.</p>
							</div>
						</div>
						<div class="tm-about-box-2">
							<img src="/img/about-3.jpg" alt="image"
								class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">Rewards for Room Bookings and
									Events</h3>
								<p class="tm-about-box-2-description gray-text">Earn one
									Bonus Point per eligible U.S. dollar spent (up to 50,000 Bonus
									Points) for hosting a qualifying meeting or event at OPAL.
									Redeem points for exciting travel rewards, including free
									nights in standard rooms (with no blackout dates at OPAL hotels
									and resorts), future meeting credits at OPAL hotels and
									resorts, and more.</p>
							</div>
						</div>
					</div>
					<div class="tm-testimonials-box"  style="overflow-y: scroll;">
						<h3 class="tm-testimonials-title">Reviews</h3>
						<div class="tm-testimonials-content">
							<div class="tm-testimonial" id="divFirstReview"></div>
							<div class="tm-testimonial" id="divSecondReview"></div>
							<div class="tm-testimonial" id="divThirdReview"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="user/fragments/footer :: footer"></div>
	<script type="text/javascript" src="/inbuiltJS/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/moment.js"></script>
	<script type="text/javascript" src="/inbuiltJS/jquerysession.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap-table.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/toastr.min.js"></script>
	<script type="text/javascript" src="/customJS/common.js"></script>
	<script type="text/javascript" src="/customJS/about.js"></script>
	<script type="text/javascript" src="/inbuiltJS/templatemo-script.js"></script>
	<script>
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
			$('a[href*=#]:not([href=#])')
					.click(
							function() {
								if (location.pathname.replace(/^\//, '') == this.pathname
										.replace(/^\//, '')
										&& location.hostname == this.hostname) {
									var target = $(this.hash);
									target = target.length ? target
											: $('[name=' + this.hash.slice(1)
													+ ']');
									if (target.length) {
										$('html,body').animate({
											scrollTop : target.offset().top
										}, 1000);
										return false;
									}
								}
							});
		});
		$(window).load(function() {
			// Flexsliders
			$('.flexslider.flexslider-banner').flexslider({
				controlNav : false
			});
			$('.flexslider').flexslider({
				animation : "slide",
				directionNav : false,
				slideshow : false
			});
		});
	</script>
</body>
</html>
