<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Opal - Room Management</title>

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700'
	rel='stylesheet' type='text/css'>
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/css/flexslider.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<link href="/css/templatemo-style.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/favicon.ico" th:href="@{/favicon.ico}"/>

</head>
<body class="tm-gray-bg">
	<div th:replace="admin/fragments/header :: header"></div>

	<div class="section-margin-top"></div>
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="form-group">
				<table id="tblRoomTypes"></table>
			</div>
		</div>
	</section>

	<div th:replace="admin/fragments/footer :: footer"></div>

	<script type="text/javascript" src="/inbuiltJS/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/moment.js"></script>
	<script type="text/javascript" src="/inbuiltJS/jquerysession.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap-table.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/toastr.min.js"></script>
	<script type="text/javascript" src="/customJS/roommngt.js"></script>
	<script type="text/javascript" src="/inbuiltJS/templatemo-script.js"></script>
</body>
</html>
