<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hotel Management - Guest</title>
<link rel="icon" type="image/png" href="/favicon.ico" th:href="@{/favicon.ico}"/>
</head>
<body>
	<footer class="tm-black-bg" th:fragment="footer">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; 2018 The Opal Hotel</p>
			</div>
		</div>
	</footer>
</body>
</html>