<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Opal - User Profile</title>

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700'
	rel='stylesheet' type='text/css'>
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="/css/flexslider.css" rel="stylesheet">
<link href="/css/toastr.min.css" rel="stylesheet">
<link href="/css/templatemo-style.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/favicon.ico" th:href="@{/favicon.ico}"/>

</head>
<body class="tm-gray-bg">
	<div th:replace="user/fragments/header :: header" />

	<div class="section-margin-top"></div>

	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
					<img src="/img/index-01.jpg" alt="image" class="img-responsive">
					<a href="#">
						<div class="tm-green-gradient-bg tm-city-price-container">
							<span>Opal Deluxe</span> <span>$2,200</span>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<!-- Nav tabs -->
				<div class="tm-home-box-1">
					<ul class="nav nav-tabs tm-white-bg" role="tablist"
						id="userProfileTabs">
						<li role="presentation" class="active"><a href="#hotel"
							aria-controls="hotel" data-toggle="tab">User Profile</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active tm-white-bg"
							id="hotel">
							<div class="tm-search-box effect2">
								<form action="#" method="post" class="hotel-search-form">
									<div class="tm-form-inner">
										<div class="form-group">
											<input type='text' class="form-control" id="txtUserName"
												disabled="disabled" placeholder="Name of User" />
										</div>
										<div class="form-group">
											<input type='text' class="form-control" id="txtEmailID"
												placeholder="Email ID" />
										</div>
										<div class="form-group">
											<input type='text' class="form-control" id="txtMobileNumber"
												placeholder="Mobile Number" />
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="txtPassword"
												placeholder="Password" />
										</div>
										<div class="form-group margin-bottom-0">
											<label id="lblMessage">&nbsp;</label>
										</div>
										<div class="form-group margin-bottom-0">&nbsp;</div>
									</div>
									<div class="form-group tm-yellow-gradient-bg text-center">
										<table width="100%">
											<tr>
												<td>
													<button type="button" id="btnSave" class="tm-yellow-btn">Save</button>
												</td>
												<td>
													<button type="button" id="btnMyBookings"
														class="tm-yellow-btn">My Bookings</button>
												</td>
											</tr>
										</table>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
					<img src="/img/index-02.jpg" alt="image" class="img-responsive">
					<a href="#">
						<div class="tm-red-gradient-bg tm-city-price-container">
							<span>Opal Pool Side</span> <span>$4,200</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="section-margin-top"></div>
		<div class="form-group">
			<table id="tblRoomTypes"></table>
		</div>
		<div class="section-margin-top"></div>
	</section>

	<div th:replace="user/fragments/footer :: footer"></div>

	<script type="text/javascript" src="/inbuiltJS/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/moment.js"></script>
	<script type="text/javascript" src="/inbuiltJS/jquerysession.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/bootstrap-table.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript"
		src="/inbuiltJS/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/inbuiltJS/toastr.min.js"></script>
	<script type="text/javascript" src="/customJS/userprofile.js"></script>
	<script type="text/javascript" src="/inbuiltJS/templatemo-script.js"></script>
</body>
</html>
